<div class="navbar navbar-default" role="navigation">
  <h1 class="navbar-brand">Wikinimous</h1>
  <p class="navbar-right nav-link">
    <%= link_to 'New Article', new_article_path %>
  </p>
</div>
<%= render "form", article: @article %>
